<div class="container">
  <div class="list-group">
    <div class="list-group-item" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.active]="hero===selectedHero">
      <span class="badge">{{hero.id}}</span> <b>{{hero.name}}</b>
      <div *ngIf="hero===selectedHero">
        <div class="btn-group btn-group-xs">
          <button class="btn btn-danger" (click)="delete(hero); $event.stopPropagation()">Delete</button>
          <button class="btn btn-default" (click)="gotoDetail()">Edit</button>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="container">
  <label>Hero name:</label>
  <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
